<?xml version="1.0"?>
<config>

    <default>
        <tmcore>
            <jslibs>
                <jquery>1</jquery>
            </jslibs>
        </tmcore>
    </default>

    <modules>
        <TM_CatalogConfigurableSwatches>
            <version>1.0.3</version>
        </TM_CatalogConfigurableSwatches>
    </modules>
    <global>
        <models>
            <catalogconfigurableswatches>
                <class>TM_CatalogConfigurableSwatches_Model</class>
            </catalogconfigurableswatches>
        </models>
        <helpers>
            <catalogconfigurableswatches>
                <class>TM_CatalogConfigurableSwatches_Helper</class>
            </catalogconfigurableswatches>
        </helpers>
    </global>
    <frontend>
        <tm_layout>
            <updates>
                <catalogconfigurableswatches
                    module="TM_CatalogConfigurableSwatches"
                    condition="catalogconfigurableswatches/isEnabled"
                >
                    <file>tm/configurableswatches.xml</file>
                </catalogconfigurableswatches>
            </updates>
        </tm_layout>
        <events>
            <controller_action_layout_generate_blocks_after>
                <observers>
                    <catalogconfigurableswatches>
                        <class>catalogconfigurableswatches/observer</class>
                        <method>convertLayerBlock</method>
                    </catalogconfigurableswatches>
                </observers>
            </controller_action_layout_generate_blocks_after>
        </events>
    </frontend>
</config>
